<div class="form-signin">
    <img class="mb-4" src="https://cdn.rawgit.com/akabab/superhero-api/0.2.0/api/images/lg/332-hulk.jpg" alt="" width="300" height="420">
    <h4>Estadísticas de: Hulk </h4>
    <h4 class="h4 mb-3 font-weight-normal">Inteligencia: 98</h4>
    <h4 class="h4 mb-3 font-weight-normal">Fuerza: 100</h4>
    <h4 class="h4 mb-3 font-weight-normal">Rapidéz: 57 </h4>
    <h4 class="h4 mb-3 font-weight-normal">Durabilidad: 78</h4>
    <h4 class="h4 mb-3 font-weight-normal">Poder: 90</h4>
    <h4 class="h4 mb-3 font-weight-normal">Combate: 84</h4>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Regresar</button>

    <a href="http://www.google.com">Go somewhere</a>

</div>